:root {
  --orange-: #fc5543;
  --pink-: #fd25d6;
  --pink-h: #ec22c7;
}

.bx {
  @apply shadow-md;
}

.input {
  width: 100%;
  height: 60px;
  padding-left: 20px;
  outline: none;
  @apply bg-white border appearance-none rounded-md text-xl focus:ring-2 focus:ring-blue-500;
}

.button {
  margin: 5px 0;
  @apply w-full h-auto bg-blue-500 text-center py-3 rounded-md text-2xl text-white font-bold shadow-md;
  @apply hover:bg-blue-700;
}

.nav {
  @apply flex items-center justify-between w-full mx-auto h-[70px] border;
}

.profile {
  background: linear-gradient(90deg, #fd25d6, #fc5543);
  @apply w-full h-[150px] bg-pink-500 rounded-b-3xl relative;
}